<app-page-title [title]="'Request Management'" [pagetitle]="'Requests List'"></app-page-title>

<div class="grid grid-cols-1 gap-x-5 md:grid-cols-2 xl:grid-cols-12">
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-red-500 bg-red-100 rounded-md text-15 dark:bg-red-500/20 shrink-0">
                    <lucide-angular name="file-bar-chart-2"></lucide-angular>
                </div>
                <div class="grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="totalItems">0</span></h5>
                    <p class="text-slate-500 dark:text-zink-200">Total Requests</p>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-green-500 bg-green-100 rounded-md text-15 dark:bg-green-500/20 shrink-0">
                    <lucide-angular name="check-circle"></lucide-angular>
                </div>
                <div class="grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="getStatusCount(Status.APPROVED)">0</span></h5>
                    <p class="text-slate-500 dark:text-zink-200">Approved Requests</p>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 text-purple-500 bg-purple-100 rounded-md text-15 dark:bg-purple-500/20 shrink-0">
                    <lucide-angular name="clock"></lucide-angular>
                </div>
                <div class="grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="getStatusCount(Status.PENDING)">0</span></h5>
                    <p class="text-slate-500 dark:text-zink-200">Pending Requests</p>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-3">
        <div class="card">
            <div class="flex items-center gap-3 card-body">
                <div class="flex items-center justify-center size-12 rounded-md text-sky-500 bg-sky-100 text-15 dark:bg-sky-500/20 shrink-0">
                    <lucide-angular name="x-circle"></lucide-angular>
                </div>
                <div class="grow">
                    <h5 class="mb-1 text-16"><span class="counter-value" [countUp]="getStatusCount(Status.REJECTED)">0</span></h5>
                    <p class="text-slate-500 dark:text-zink-200">Rejected Requests</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="ordersTable">
    <div class="card-body">
        <div class="grid grid-cols-1 gap-4 mb-5 lg:grid-cols-2 xl:grid-cols-12">
            <div class="xl:col-span-3">
                <div class="relative">
                    <input 
                    type="text" 
                    [(ngModel)]="searchQuery" 
                    (ngModelChange)="searchDemandes()"
                    class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" 
                    placeholder="Search for ..." 
                    autocomplete="off"
                >
                <lucide-angular 
                    name="search" 
                    [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"
                ></lucide-angular> </div>
            </div>
        </div>

        <div class="overflow-x-auto">
            <div class="overflow-x-auto">
                <ngx-datatable 
                    [rows]="demandes" 
                    class="material w-full whitespace-nowrap" 
                    [loadingIndicator]="true" 
                    [columnMode]="'force'" 
                    [limit]="10" 
                    [sorts]="[{ prop: 'id', dir: 'desc' }]" 
                    [headerHeight]="42" 
                    [footerHeight]="50" 
                    [rowHeight]="'auto'" 
                    [columns]="columns">
                    
                    <ngx-datatable-column 
                        *ngFor="let column of columns" 
                        name="{{column.name}}" 
                        prop="{{column.prop}}" 
                        [width]="column.prop == 'title' ? 200 : (column.prop == 'type' ? 150 : 100)" 
                        headerClass="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:bg-zink-600 dark:text-zink-200 px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500" 
                        cellClass="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
                        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                            @if(column.prop === 'status') {
                              <span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border border-transparent dark:border-transparent" 
                                    [ngClass]="getStatusClass(value)">
                                {{ getStatusName(value) }}
                              </span>
                            } @else if(column.prop === 'type') {
                              {{ getTypeName(value) }} 
                            } @else if(column.prop === 'date') {
                              {{ value | date:'mediumDate' }}
                            } @else if(column.prop === 'actions') {
                              <div class="flex justify-end gap-2">
                                @if(row.status === Status.PENDING) {
                                  <a href="javascript:void(0);" (click)="updateStatus(row.id, Status.APPROVED)" class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md text-green-500 bg-green-100 hover:text-white hover:bg-green-500 dark:bg-green-500/20 dark:hover:bg-green-500">
                                    <lucide-angular name="check-circle" [class]="'size-4'"></lucide-angular>
                                  </a>
                                  <a href="javascript:void(0);" (click)="updateStatus(row.id, Status.REJECTED)" class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md text-red-500 bg-red-100 hover:text-white hover:bg-red-500 dark:bg-red-500/20 dark:hover:bg-red-500">
                                    <lucide-angular name="x-circle" [class]="'size-4'"></lucide-angular>
                                  </a>
                                }
                              <!--  <a href="javascript:void(0);" data-modal-target="requestOverviewModal" class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md text-custom-500 bg-custom-100 hover:text-white hover:bg-custom-500 dark:bg-custom-500/20 dark:hover:bg-custom-500">
                                  <lucide-angular name="info" [class]="'size-4'"></lucide-angular>
                                </a>
                                -->
                              </div>
                            } @else {
                              {{ value }}
                            }
                          </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                            <div class="grow">
                                <p class="text-slate-500 dark:text-zink-200">Showing <b>{{getEndIndex()}}</b> of <b>{{totalItems}}</b> Results</p>
                            </div>
                            @if(totalItems > 0) {
                                <pagination-controls 
                                    [currentPage]="currentPage" 
                                    [boundryLinks]="false" 
                                    previousLabel="Prev" 
                                    nextLabel="Next" 
                                    [itemsPerPage]="itemsPerPage" 
                                    [total]="totalItems" 
                                    (pageChanged)="onPageChange($event)">
                                </pagination-controls>
                            }
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>