<div class="container mx-auto p-2">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <!-- Statistiques par statut -->
    <div class="card bg-white rounded-lg shadow-sm overflow-hidden">
      <div class="card-body p-3">
        <h6 class="mb-2 text-14 font-semibold text-gray-800">Statistiques par Statut</h6>
        <div id="chartStatut" class="apex-charts" style="height: 250px;">
          <apx-chart
            [series]="chartStatut.series"
            [chart]="chartStatut.chart"
            [xaxis]="chartStatut.xaxis"
            [yaxis]="chartStatut.yaxis"
            [colors]="chartStatut.colors"
            [plotOptions]="chartStatut.plotOptions"
            [dataLabels]="chartStatut.dataLabels"
            [grid]="chartStatut.grid"
            [tooltip]="chartStatut.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>

    <!-- Statistiques par collaborateur -->
    <div class="card bg-white rounded-lg shadow-sm overflow-hidden">
      <div class="card-body p-3">
        <h6 class="mb-2 text-14 font-semibold text-gray-800">Statistiques par Collaborateur</h6>
        <div id="chartCollaborateur" class="apex-charts" style="height: 250px;">
          <apx-chart
            [series]="chartCollaborateur.series"
            [chart]="chartCollaborateur.chart"
            [xaxis]="chartCollaborateur.xaxis"
            [yaxis]="chartCollaborateur.yaxis"
            [colors]="chartCollaborateur.colors"
            [dataLabels]="chartCollaborateur.dataLabels"
            [stroke]="chartCollaborateur.stroke"
            [fill]="chartCollaborateur.fill"
            [tooltip]="chartCollaborateur.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
    <!-- Statistiques des notes des utilisateurs évalués -->
    <div class="card bg-white rounded-lg shadow-sm overflow-hidden">
      <div class="card-body p-3">
        <h6 class="mb-2 text-14 font-semibold text-gray-800">Statistiques des Notes des Collaborateurs</h6>
        <div id="chartEvaluation" class="apex-charts" style="height: 250px;">
          <apx-chart
            [series]="chartEvaluation.series"
            [chart]="chartEvaluation.chart"
            [xaxis]="chartEvaluation.xaxis"
            [yaxis]="chartEvaluation.yaxis"
            [colors]="chartEvaluation.colors"
            [stroke]="chartEvaluation.stroke"
            [fill]="chartEvaluation.fill"
            [tooltip]="chartEvaluation.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
    


    