<br>
<br>
<br>
<div class="grid grid-cols-1 gap-5 xl:grid-cols-3">
    <!-- Statistiques par rôle -->
    <div class="card bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="card-body p-5">
        <h6 class="mb-4 text-16 font-medium text-gray-800">Distribution des Rôles</h6>
        <div id="chartRole" class="apex-charts">
          <apx-chart
            [series]="roleChartOptions.series"
            [chart]="roleChartOptions.chart"
            [labels]="roleChartOptions.labels"
            [colors]="roleChartOptions.colors"
            [fill]="roleChartOptions.fill"
            [stroke]="roleChartOptions.stroke"
            [plotOptions]="roleChartOptions.plotOptions"
            [legend]="roleChartOptions.legend"
            [tooltip]="roleChartOptions.tooltip"
            [responsive]="roleChartOptions.responsive"
            [yaxis]="roleChartOptions.yaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
  
    <!-- Statistiques des équipes -->
    <div class="card bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="card-body p-5">
        <h6 class="mb-4 text-16 font-medium text-gray-800">Collaborateurs par Équipe</h6>
        <div id="chartTeam" class="apex-charts">
          <apx-chart
            [series]="teamChartOptions.series"
            [chart]="teamChartOptions.chart"
            [xaxis]="teamChartOptions.xaxis"
            [yaxis]="teamChartOptions.yaxis"
            [colors]="teamChartOptions.colors"
            [plotOptions]="teamChartOptions.plotOptions"
            [fill]="teamChartOptions.fill"
            [stroke]="teamChartOptions.stroke"
            [grid]="teamChartOptions.grid"
            [legend]="teamChartOptions.legend"
            [tooltip]="teamChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
    
    <!-- Statistiques des demandes -->
    <div class="card bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="card-body p-5">
        <h6 class="mb-4 text-16 font-medium text-gray-800">Flux des Demandes</h6>
        <div id="chartDemande" class="apex-charts">
          <apx-chart
            [series]="demandeChartOptions.series"
            [chart]="demandeChartOptions.chart"
            [labels]="demandeChartOptions.labels"
            [colors]="demandeChartOptions.colors"
            [plotOptions]="demandeChartOptions.plotOptions"
            [dataLabels]="demandeChartOptions.dataLabels"
            [title]="demandeChartOptions.title"
            [tooltip]="demandeChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>